@import '~antd/dist/antd.css';
@import url('https://fonts.googleapis.com/css2?family=Shippori+Mincho:wght@400;500;600;700&display=swap');
/* font-family: 'Shippori Mincho', serif;*/


/* RWD Container */
.container {
  width: 100%;
  display: flex;
  align-self: center;
  background-color: #F9F6F2;
  color: #573D2D;
  font-family: 'Shippori Mincho', serif;
}
/* RWD Setting*/
/* mobile */
@media (min-width: 480px) { 
  .container {
    width: 450px;
  }
} 

/* md */
@media (min-width: 768px) {
  .container {
    width: 720px;
  }
} 

/* lg */
@media (min-width: 992px) {
  .container {
    width: 960px;
  }
} 

/* xl */
@media (min-width: 1200px) {
  .container {
    width: 1140px;
  }
} 

/* xxl */
@media (min-width: 1600px) {
  .container {
    width: 1500px;
  }
} 

/* general */
html{
  width: 100vw;
  height: 100%;
}
body {
  font-size: 16px;
  line-height: 1.6;
  background-color: #F9F6F2;
  color: #573D2D;
  width: 100vw;
  padding: 0;
  margin: 0;
  font-size: 0;
}

::selection {
  color: #fff;
  background: #BF9C4F;
}
.ant-pagination-item-active a{
  color: #573D2D;
}
.ant-pagination-item-active{
  border: 1px solid #573D2D;
}
.container-fluid {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 15px;
}

.layout-header,
.layout-footer {
  position: relative;
  padding: 0;
  width: 100%;
  height: 8rem;
  /* background-color: #573d2d; */
  background-color: rgba(87, 61, 45, 1);
  color: #F9F6F2;
}
.layout-header{
  height: 5rem;
}

.layout-content {
  background-color: #F9F6F2;
  min-height: 100vh;
}

.main-layout {
  display: flex;
  flex-direction: row;
  width: 100vw;
  min-height: 100vh;
}
a:hover{
  color: #BF9C4F;
}

/* btn setting*/
.ant-btn:hover, .ant-btn:focus{
  color: #BF9C4F;
  border-color: #BF9C4F;
}
.ant-btn:active {
  color: #BF9C4F;
  border-color: #BF9C4F;
}
.ant-select:hover{
  border-color: #BF9C4F;
}
.ant-btn{
  color: #573D2D;
  background: white;
  /* border-color: #301A0A; */
}
.ant-select-selection-item{
  color: #573D2D;
}

/* Header */
.header {
  position: relative;
  display: flex;
  flex-direction: row;
  line-height: 5rem;
  text-align: center;
  padding: 0 8rem;
}
.header-box-left {
  position: relative;
  display: flex;
  flex-direction: row;
}
.header-logo{
  width: 6rem;
}
.header-box-center {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 60%;
  margin-right: auto;
}
.header-item-center{
  width: 100px;
  height: 5rem;
  color: #F9F6F2;
  font-size: 1.2rem;
  margin-left: 1rem;
}
.header-box-right {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.header-item{
  display: flex;
  align-items: center;
  margin: 0 0.5rem;
}
.header-search{
  width: 10rem;
  margin-right: 1rem;
}
.header-icon{
  width: 2rem;
}
.header-icon:hover{
  opacity: 0.5;
}

/* Drawer */
.drawer-btn{
  width: 3rem;
  height: 3rem;
  padding: 0.5rem;
  margin-top: 1rem;
  display: none;
}
.drawer-icon{
  width: 2rem;
}
.ant-drawer-body{
  background-color: #F9F6F2;
}
.drawer-item-top{
  margin-top: 30vh;
}
.drawer-item{
  font-family: 'Shippori Mincho', serif;
  color: #573D2D;
  font-size: 1.5rem;
  text-align: center;
}
.drawer-item:hover{
  color: #BF9C4F;
}

/* Footer */
.footer {
  position: relative;
  width: 100%;
  text-align: center;
  background-color: #F9F6F2;
}
.footer-content{
  position: absolute;
  width: 80vw;
  height: auto;
  right: 0;
  left: 0;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
}
.footer-item{
  width: 96px;
  height: 28px;
  display: flex;
  flex-direction: row;
  margin-top: 3rem;
  color: #F9F6F2;
}
.footer-item-center{
  width: 240px;
  height: 84px;
  display: block;
  margin-top: 2rem;
}
.footer-icon{
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 0.5rem;
}
.footer-icon-center{
  width: 2rem;
  height: 2rem;
  margin: 0 0.5rem;
}
.footer-icon-center:hover{
  opacity: 0.5;
}
.footer-text{
  height: 1.75rem;
  font-size: 1rem;
}
.footer-text-center{
  margin-top: 0.5rem;
}

/*Home*/
.swiper{
  width: 65vw;
  display: flex;
  right: 0;
  left: 0;
  margin: auto;
  margin-top: 1rem;
}
.swiper-img{
  width: 65vw;
} 
.home-start-bt-box{
  position: relative;
  width: 6rem;
  left: 0;
  right: 0;
  margin: auto;
}
.home-start-bt{
  width: 6rem;
  height: 2.5rem;
  font-size: 1.2rem;
  color: #573D2D;
  margin: 1rem 0 5rem;
  border-color: #573D2D;
  border-radius: 5px;
}
.home-title-box{
  position: relative;
  width: 80vw;
  left: 0;
  right: 0;
  margin: auto;
}
.home-title{
  width: 80vw;
  text-align: center;
  font-size: 2.25rem;
  font-weight: 500;
}
.home-card{
  display: flex;
  flex-direction: row;
  width: 50rem;
  height: 20rem;
  border: solid 1px #573D2D;
  border-radius: 10px;
  right: 0;
  left: 0;
  margin: auto;
  margin-bottom: 2rem;
  padding: 2rem 5rem;
  background-color: #fff;
  box-shadow: 12px 12px 7px rgba(0, 0, 0, 0.25);
}
.home-card-img-box{
  width: 15rem;
  height: 16rem;
}
.home-card-img{
  width: 12rem;
  max-height: 16rem;
}
.home-card-text{
  display: flex;
  flex-direction: column;
  width: 25rem;
  height: 16rem;
}
.home-card-title{
  font-size: 1.5rem;
}
.home-card-description{
  font-size: 1rem;
}
/* menu init */
.menu-init{
  position: absolute;
  display: block;
  margin-top: 5rem;
}
.menu-init-text{
  width: 42.5rem;
  font-size: 1.2rem;
  text-align: center;
}
.menu-init-img{
  position: absolute;
  width: 15rem;
  right: 0;
  left: 0;
  margin: auto;
  margin-top: 5rem;
}
/*Menu*/
.menu{
  width: 42.5rem;
  height: 43.0625rem;
  border: solid #BBAC97 1px;
  padding:0;
  right: 0;
  left: 0;
  margin: auto;
  background-color: #fff;
}
.ant-table-container{
  color: #573D2D;
}
.menu-select-box{
  position: relative;
  width: 150px;
  left: 0;
  right: 0;
  margin: auto;
}
.menu-select{
  position: relative;
  margin: 2rem 0;
}
.menu-content{
  display: flex;
  flex-direction: row;
  width: auto;
  height: 1.75rem;
}
.menu-compare-bt-box{
  position: relative;
  width: 90px;
  left: 0;
  right: 0;
  margin: auto;
}
.menu-compare-bt{
  color: #573D2D;
  margin: 2rem 0 5rem;
  border-radius: 5px;
}
.ant-table-header .ant-table-cell{
  color: #573D2D;
  background-color: #F4EFE8;
}
.ant-table-cell{
  color: #573D2D;
  background-color: #fff;
}
.ant-table-tbody > tr > td, .ant-table-thead > tr > th{
  text-align: center;
}
.ant-pagination{
  /* width: 40rem; */
  padding: 0.5rem 2rem;
}
.add-to-compare-bt{
  border-color: white;
}

/*Comparison*/
.compare{
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 80vw;
  right: 0;
  left: 0;
  margin: auto;
}
.compare-title{
  width: 80vw;
  font-size: 2rem;
  margin: 2rem 0 0;
  font-weight: 500;
}
.compare-description{
  width: 80vw;
  font-size: 1.2rem;
  margin: 1rem 0;
}
.compare-reset{
  width: 6rem;
  height: 2rem;
  right: 0;
  left: 0;
  margin: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.compare-area{
  position: relative;
  display: flex;
  flex-direction: row;
  width: 80vw;
  margin: 2rem auto 5rem;
}
.compare-items-box{
  background-color: white;
  width: 25vw;
  height: 50vw;
  font-size: 1rem;
  margin: 0 calc(5vw / 6) 0;
}
.compare-delete{
  width: 2rem;
  padding: 0 0.5rem;
  margin-left: calc(25vw - 2rem);
  box-sizing: border-box;
}
.compare-img{
  width: 18vw;
  margin: 0.5rem 3vw;
}
.compare-items{
  width: auto;
  margin: 0.5rem 3vw;
}
.compare-add-to-fav-btn{
  color: #573D2D;
}

/*Comment*/
.comment-add{
  display: flex;
  width: 45rem;
  height: 13rem;
  border: solid 1px rgba(87, 61, 45, 0.5);
  border-radius: 5px;
  padding: 1rem;
  right: 0;
  left: 0;
  margin: auto;
  margin-top: 3rem;
  margin-bottom: 3rem;
  background-color: #F4EFE8;
}
.comment-area-right{
  width: 20%;
  padding: 1rem;
}
.comment-img-user{
  position: relative;
  width: 6.25rem;
  height: 6.25rem;
  border-radius: 50%;
  /* border: solid 1px #301A0A; */
  background-color: #fff;
}
.comment-area-left{
  width: 80%;
}
.comment-select{
  display: flex;
  flex-direction: row;
}
.comment-select-company{
  width: 10rem;
}
.comment-select-beverage{
  width: 8rem;
}
.comment-icon-add-img{
  width: 1.5rem;
  height: 1.5rem;
  margin-top: 0.3rem;
  margin-left: 0.5rem;
  cursor: pointer;
}
.comment-input{
  width: 33rem;
  height: 6rem;
  margin: 0.3rem 0;
}
.comment-bt-publish{
  width: 4rem;
  color :#B2B1B1;
  margin-left: calc(33rem - 4rem);
}
.comment-list{
  width: 45rem;
  height: 10rem;
  background-color: #F4EFE8;
  border: 1px solid rgba(87, 61, 45, 0.5);
  border-radius: 5px;
  right: 0;
  left: 0;
  margin: auto;
  margin-top: 1rem;
}
.comment-list-txt{
  height: 20px;
  width: 100%;
  font-size: 18px;
}

/*Login*/
.login-form-wrapper a{
  color: #573D2D;
}
.login-form-wrapper a:hover{
  color: #BF9C4F;
}
.ant-checkbox-checked .ant-checkbox-inner{
  background-color: #BF9C4F;
  border-color: #BF9C4F;
}
.login-quote-wrapper{
  position: absolute;
  width: 40vw;
  height: 100vh;
}
.login-quote-1{
  width: 20vw;
  font-size: 1.2rem;
  text-align: left;
  margin: 3rem 15vw 0.5rem 5vw;
}
.login-quote-2{
  width: 20vw;
  font-size: 1.8rem;
  text-align: left;
  margin: 0 15vw 0 5vw;
}
.img_login_illus{
  position: absolute;
  height: 45vh;
  bottom: 5rem;
  right: 8vw;
}
.login-form{
  color: #573D2D;
}
.login-form-wrapper{
  position: absolute;
  right: 0;
  width: 60vw;
  height: 100vh;
  background-color: #fff;
}
.login-title{
  font-size: 3rem;
  color: #573D2D;
  width: 30vw;
  height: 5rem;
  margin: 8vw 15vw 1rem;
  text-align: center;
}
.login-email{
  width: 30vw;
  margin: 1rem 15vw 1rem;
}
.login-password{
  width: 30vw;
  margin: 1rem 15vw 1rem;
}
.login-option{
  width: 30vw;
  margin: 1rem 15vw 1rem;
  text-align: center;
}
.remember{
  margin-right: 2rem;
  color: #573D2D;
}
.login-enter{
  width: 30vw;
  margin: 1rem 15vw 1rem;
  text-align: center;
  color: #573D2D;
}
.login-form__button{
  margin-top: 3rem;
}
.login-or{
  color: #573D2D;
  margin-top: 2rem;
  margin-bottom: 0.5rem;
}

/*Register*/
.register-form .ant-form-item{
  color: #573D2D;
}
.ant-form-item-label > label{
  color: #573D2D;
}
.register-form-wrapper .ant-input{
  width: 25vw;
} 
.register-form-wrapper .ant-input-password{
  width: 25vw;
} 
.agreement{
  width: 11rem;
  position: relative;
  right: 0;
  left: 0;
  margin: auto;
}
.agreement span{
  color: #573D2D;
}
.register-enter{
  width: 30vw;
  margin: 3rem 15vw 1rem;
  text-align: center;
}
.register-space{
  margin-bottom: 1rem;
}

/*Profile*/
.profile-nav-wrapper{
  position: absolute;
  width: 30vw;
  height: 100vh;
}
.profile-img-box{
  position: relative;
  width: 10vw;
  height: 10vw;
  border-radius: 50%;
  background-color: #fff;
  margin: 3rem 10vw 1rem;
  overflow: hidden;
}
.profile-img{
  position: absolute;
  width: 10vw;
}
.profile-name{
  font-size: 1.2rem;
  text-align: center;
  width: 25vw;
  margin: 1rem 2.5vw 1rem;
}
.profile-nav{
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 25vw;
  margin: 3rem 2.5vw 1rem;
}
.profile-nav-item{
  font-size: 1.2rem;
  color: #573D2D;
  margin-bottom: 1rem;
}
.profile-form-wrapper{
  position: absolute;
  right: 0;
  width: 70vw;
  height: 100vh;
  background-color: #fff;
}
.profile-title{
  font-size: 1.2rem;
  color: #573D2D;
  width: calc(1.2rem * 4);
  height: 5rem;
  margin: 1rem;
  text-align: center;
}
.profile-form{
  width: 30vw;
  right: 0;
  left: 0;
  margin: auto;
}
.profile-btn-wrapper{
  width: 12rem;
  margin: 3rem auto;
}
.profile-form__button{
  margin: 1rem;
}

/* --- RWD Setting --- */
/* mobile */
@media (max-width: 480px) { 
  .container{
    font-size: 12px;
    min-width: 320px;
  }
  .header {
    padding: 0 2rem;
  }
  .drawer-btn{
    display: block;
    margin-right: 2rem;
  }
  .header-box-left {
    right: 0;
    left: 0;
    margin: auto;
  }
  .header-box-center{
    display: none;
  }
  .header-search{
    display: none;
  }
  .layout-footer{
    height: 400px;
    padding: 30px 0;
  }
  .footer-content{
    display: flex;
    flex-direction: column;
  }
  .footer-item{
    right: 0;
    left: 0;
    margin: auto;
    margin-top: 20px;
    order: 1;
  }
  .footer-item-center{
    margin-top: 40px;
    order: 2;
  }
  /* HOME */
  .swiper{
    width: 100vw;
  }
  .swiper-img{
    width: 100vw;
  } 
  .home-card{
    width: 90vw;
    height: 40vh;
    padding: 2rem;
  }
  .home-card-img-box{
    width: 35vw;
    height: 40vh;
  }
  .home-card-img{
    width: 30vw;
    max-height: 40vh;
  }
  .home-card-text{
    width: 55vw;
    height: 40vh;
    padding: 0 0 0 1.5rem;
  }
  .home-card-title{
    font-size: 1.3rem;
  }
  .home-card-description{
    font-size: 0.8rem;
  }
  /* MENU */
  .menu{
    width: 90vw;
  }
  .menu-init-text{
    width: 90vw;
  }
  /* COMPARE */
  .compare-area{
    width: 90vw;
  }
  .compare-description{
    font-size: 1rem;
  }
  .compare-items-box{
    width: 28vw;
    height: 50vh;
    font-size: 0.8rem;
    margin: 0 calc(6vw / 6) 0;
  }
  .compare-delete{
    margin-left: calc(28vw - 2rem);
  }
  /* COMMENT */
  .comment-add{
    width: 90vw;
  }
  .comment-area-right{
    width: 20%;
    padding: 0.5rem;
  }
  .comment-select{
    font-size: 0.8rem;
  }
  .comment-select-company{
    width: 30vw;
  }
  .comment-select-beverage{
    width: 23vw;
  }
  .comment-img-user{
    width: 13vw;
    height: 13vw;
  }
  .comment-area-left{
    width: 80%;
    padding: 0 0 0 0.3rem;
  }
  .comment-input{
    width: 63vw;
  }
  .comment-bt-publish{
    margin-left: calc(63vw - 4rem);
  }
  .comment-list{
    width: 90vw;
  }
  /* LOGIN */
} 
