@import '~antd/dist/antd.css';
@import url('https://fonts.googleapis.com/css2?family=Shippori+Mincho:wght@400;500;600;700&display=swap');
/* font-family: 'Shippori Mincho', serif;*/


/* RWD Container */
.container {
  width: 100%;
  display: flex;
  align-self: center;
  background-color: #fff;
  color: #573D2D;
  font-family: 'Shippori Mincho', serif;
}
/* RWD Setting*/
/* mobile */
@media (min-width: 480px) { 
  .container {
    width: 450px;
  }
} 

/* md */
@media (min-width: 768px) {
  .container {
    width: 720px;
  }
} 

/* lg */
@media (min-width: 992px) {
  .container {
    width: 960px;
  }
} 

/* xl */
@media (min-width: 1200px) {
  .container {
    width: 1140px;
  }
} 

/* xxl */
@media (min-width: 1600px) {
  .container {
    width: 1500px;
  }
} 

/* general */
html{
  width: 100vw;
  height: 100%;
}
body {
  font-size: 16px;
  line-height: 1.6;
  background-color: #fff;
  color: #573D2D;
  width: 100vw;
  padding: 0;
  margin: 0;
  font-size: 0;
}

::selection {
  color: #fff;
  background: #EBC47A;
}
.ant-pagination-item-active a{
  color: #573D2D;
}
.ant-pagination-item-active{
  border: 1px solid #573D2D;
}
.container-fluid {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 15px;
}

.layout-footer {
  position: relative;
  padding: 0;
  width: 100vw;
  height: 8rem;
  background-color: rgba(253, 245, 227, 0.95);
  color: #573D2D;
}
.layout-header{
  padding: 0;
  position: fixed;
  z-index: 999;
  height: auto;
  background-color: transparent;
}

.layout-content {
  background-color: #fff;
  width: 100vw;
  min-height: 100vh;
}

.main-layout {
  display: flex;
  flex-direction: row;
  width: 100vw;
  min-height: 100vh;
}
a:hover{
  color: #EBC47A;
}

.header-mt{
  margin-top: 5rem !important;
}

/* btn setting*/
.ant-btn:hover, .ant-btn:focus{
  color: #EBC47A;
  border-color: #EBC47A;
}
.ant-btn:active {
  color: #EBC47A;
  border-color: #EBC47A;
}
.ant-select:hover{
  border-color: #EBC47A;
}
.ant-btn{
  color: #573D2D;
  background: white;
  /* border-color: #301A0A; */
}
.ant-select-selection-item{
  color: #573D2D;
}

/* Header */
.header {
  position: relative;
  width: 100vw;
  height: 5rem;
  color: #573D2D;
  position: relative;
  display: flex;
  flex-direction: row;
  line-height: 5rem;
  text-align: center;
  padding: 0 8rem;
  box-sizing: border-box;
  transition: 0.5s;
}
header .active{
  background-color: rgba(253, 245, 227, 1);
  height: 4rem;
  line-height: 4rem;
  transition: 0.5s;
}
header .hide{
  display: none;
}
.bg-color{
  background-color: rgba(253, 245, 227, 0.95);
}
.header-box-left {
  position: relative;
  display: flex;
  flex-direction: row;
}
.header-logo{
  width: 6rem;
}
.header-box-center {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 60%;
  margin-right: auto;
}
.header-item-center{
  width: 100px;
  height: 5rem;
  color: #573D2D;
  font-size: 1.2rem;
  margin-left: 1rem;
}
.header-box-right {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.header-item{
  display: flex;
  align-items: center;
  margin: 0 0.5rem;
}
.header-search{
  width: 10rem;
  margin-right: 1rem;
}
.header-icon{
  width: 2rem;
  cursor: pointer;
}
.header-icon:hover{
  opacity: 0.5;
}

/* Drawer */
.drawer-btn{
  width: 3rem;
  height: 3rem;
  padding: 0.5rem;
  margin-top: 1rem;
  display: none;
}
.drawer-icon{
  width: 2rem;
}
.ant-drawer-body{
  background-color: #FDF5E3;
}
.drawer-item-top{
  margin-top: 30vh;
}
.drawer-item{
  font-family: 'Shippori Mincho', serif;
  color: #573D2D;
  font-size: 1.5rem;
  text-align: center;
}
.drawer-item:hover{
  color: #EBC47A;
}

/* Footer */
.footer {
  position: relative;
  width: 100vw;
  text-align: center;
  background-color: #FDF5E3;
}
.footer-content{
  position: absolute;
  width: 80vw;
  height: auto;
  right: 0;
  left: 0;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
}
.footer-item{
  width: 96px;
  height: 28px;
  display: flex;
  flex-direction: row;
  margin-top: 3rem;
  color: #573D2D;
}
.footer-item-center{
  width: 240px;
  height: 84px;
  display: block;
  margin-top: 2rem;
}
.footer-icon{
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 0.5rem;
}
.footer-icon-center{
  width: 2rem;
  height: 2rem;
  margin: 0 0.5rem;
}
.footer-icon-center:hover{
  opacity: 0.5;
}
.footer-text{
  height: 1.75rem;
  font-size: 1rem;
}
.footer-text-center{
  margin-top: 0.5rem;
}

/* Home intro */
.intro-bg-1{
  position: absolute;
  width: 0; 
  height: 0; 
  border-top: calc(100vh + 5rem) solid transparent;
  border-bottom: calc(100vh + 5rem) solid transparent; 
  border-right: 100vw solid #FDF5E3; 
  top: calc(-100vh - 5rem);
}
.intro-bg-2{
  position: absolute;
  width: 0; 
  height: 0; 
  border-top: calc(100vh + 5rem) solid transparent;
  border-bottom: calc(100vh + 5rem) solid transparent; 
  border-left: 100vw solid #FDF5E3; 
  top: calc(100vh + 5rem);
}
.intro-bg-3{
  position: absolute;
  width: 0; 
  height: 0; 
  border-top: calc(100vh + 5rem) solid transparent;
  border-bottom: calc(100vh + 5rem) solid transparent; 
  border-right: 100vw solid #FDF5E3; 
  top: calc((100vh + 5rem) * 3);
}
.intro-bg-4{
  position: absolute;
  width: 100vw; 
  height: calc(100vh + 5rem); 
  background-color: #fff;
  top: calc((100vh + 5rem) * 4);
}
.intro{
  position: relative;
  width: 100vw;
  height: 100vh;
  margin-bottom: 5rem;
  color: #573D2D;
  /* border: 1px solid #573D2D; */
}
.intro-text-0{
  position: absolute;
  font-size: 1.5rem;
  left: 55vw;
  top: 25vh;
}
.intro-text-1{
  position: absolute;
  font-size: 2.5rem;
  left: 20vw;
  top: 50vh;
}
.intro-text-2{
  position: absolute;
  font-size: 2.5rem;
  right: 15vw;
  top: 50vh;
}
.intro-text-3{
  position: absolute;
  font-size: 2.5rem;
  width: 100vw;
  text-align: center;
  top: 70vh;
}
.intro-img-0{
  position: absolute;
  width: 40vw;
  bottom: 0;
  left: 10vw;
}
.intro-img-1{
  position: absolute;
  width: 40vw;
  bottom: 10vh;
  right: 10vw;
}
.intro-img-2{
  position: absolute;
  width: 40vw;
  bottom: 0;
  left: 10vw;
}
.intro-img-3{
  position: absolute;
  width: 40vw;
  right: 0;
  left: 0;
  margin: auto;
  top: 20vh;
}
.intro-0-img{
  position: absolute;
  width: 10rem;
  right: 25vw;
  top: 45vh;
}
.intro .ant-btn{
  color: #573D2D;
  border: 1px solid #573D2D;
}
.intro .ant-btn:hover{
  color: #EBC47A;
  border-color: #EBC47A;
}
.intro-bt-box-1{
  position: relative;
  width: 3rem;
  margin-left: calc(50% - 1.5rem);
}
.intro-bt-box-2{
  position: relative;
  width: 5rem;
  margin-left: calc(50% - 2.5rem);
}
.intro-bt-box-3{
  position: relative;
  width: 5rem;
  margin-left: calc(50% - 2.5rem);
}

/*Home*/
.swiper{
  width: 100vw;
  height: calc(100vh);
  display: flex;
  right: 0;
  left: 0;
  margin: auto;
}
.swiper-box{
  width: 100vw;
  height: calc(100vh);
  object-position: center center;
}
.swiper-img{
  width: 100vw;
} 
.home-title-box{
  position: relative;
  width: 100vw;
  height: 15rem;
  background-color: #fff;
}
.home-title{
  position: relative;
  width: 80vw;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
  font-size: 2.25rem;
  font-weight: 500;
  top: calc(7.5rem - 2.5rem);
}
.home-card-wrapper{
  position: relative;
  width: 100vw;
  min-height: 100vh;
  margin-bottom: 8rem;
  background-color: #fff;
}
.home-card{
  display: flex;
  flex-direction: row;
  width: 50rem;
  min-height: 10rem;
  border: solid 1px #573D2D;
  border-radius: 10px;
  right: 0;
  left: 0;
  margin: auto;
  margin-bottom: 2rem;
  padding: 2rem 5rem;
  box-sizing: border-box;
  background-color: #FFFBF3;
  box-shadow: 12px 12px 7px rgba(0, 0, 0, 0.25);
}
.home-card-img-box{
  width: 15rem;
  height: 16rem;
}
.home-card-img{
  width: 12rem;
  max-height: 16rem;
}
.home-card-text{
  display: flex;
  flex-direction: column;
  width: 25rem;
  height: 16rem;
}
.home-card-title{
  font-size: 1.2rem;
}
.home-card-product{
  font-size: 1.5rem;
  margin-bottom: 2rem;
}
.home-card-description{
  font-size: 1rem;
}
/* menu init */
.menu-init{
  position: absolute;
  display: block;
  margin-top: 5rem;
}
.menu-init-text{
  width: 42.5rem;
  font-size: 1.2rem;
  text-align: center;
}
.menu-init-img{
  position: absolute;
  width: 15rem;
  right: 0;
  left: 0;
  margin: auto;
  margin-top: 5rem;
}
/*Menu*/
.menu{
  width: 42.5rem;
  height: 43.0625rem;
  border: solid #BBAC97 1px;
  padding:0;
  right: 0;
  left: 0;
  margin: auto;
  background-color: #fff;
}
.ant-table-container{
  color: #573D2D;
}
.menu-select-box{
  position: relative;
  width: 150px;
  left: 0;
  right: 0;
  margin: auto;
}
.menu-select{
  position: relative;
  margin: 2rem 0;
}
.menu-content{
  display: flex;
  flex-direction: row;
  width: auto;
  height: 1.75rem;
}
.menu-compare-bt-box{
  position: relative;
  width: 90px;
  left: 0;
  right: 0;
  margin: auto;
}
.menu-compare-bt{
  color: #573D2D;
  margin: 2rem 0 5rem;
  border-radius: 5px;
}
.ant-table-header .ant-table-cell{
  color: #573D2D;
  background-color: #F7DDCE;
}
.ant-table-cell{
  color: #573D2D;
  background-color: #fff;
}
.ant-table-tbody > tr > td, .ant-table-thead > tr > th{
  text-align: center;
}
.ant-pagination{
  /* width: 40rem; */
  padding: 0.5rem 2rem;
}
.add-to-compare-bt{
  border-color: white;
}

/*Comparison*/
.compare{
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 80vw;
  right: 0;
  left: 0;
  margin: auto;
}
.compare-title{
  width: 80vw;
  font-size: 2rem;
  margin: 2rem 0 0;
  font-weight: 500;
}
.compare-description{
  width: 80vw;
  font-size: 1.2rem;
  margin: 1rem 0;
}
.compare-reset{
  width: 6rem;
  height: 2rem;
  right: 0;
  left: 0;
  margin: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.compare-area{
  position: relative;
  display: flex;
  flex-direction: row;
  width: 80vw;
  margin: 2rem auto 5rem;
}
.compare-items-box{
  background-color: #FFFBF3;
  border: 1px solid rgb(87, 61, 45, 0.1);
  border-radius: 2px;
  width: 25vw;
  min-height: 50vw;
  font-size: 1rem;
  margin: 0 calc(5vw / 6) 0;
  padding-bottom: 2rem;
  box-sizing: border-box;
}
.compare-delete{
  width: 2rem;
  padding: 0 0.5rem;
  margin-left: calc(25vw - 2rem);
  box-sizing: border-box;
}
.compare-img{
  width: 18vw;
  height: 25vw;
  margin: 0.5rem 3.5vw;
  object-fit: cover;
  object-position: center center;
  margin-bottom: 2rem;
}
.compare-items{
  width: auto;
  height: auto;
  margin: 0.5rem 3vw;
}
.compare-fav-btn{
  color: #573D2D;
  margin-top: 1rem;
}

/*Comment*/
.comment-add{
  display: flex;
  width: 45rem;
  min-height: 13rem;
  border-radius: 5px;
  padding: 1rem 1rem 1rem 0.5rem;
  right: 0;
  left: 0;
  margin: auto;
  margin-top: 8rem;
  margin-bottom: 2rem;
  background-color: #FFE0B1;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
}
.comment-area-right{
  width: 8rem;
  padding: 1rem;
}
.comment-img-user{
  position: relative;
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  background-color: #fff;
}
.comment-area-left{
  width: 37rem;
}
.comment-select{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.comment-select-company{
  width: 10rem;
}
.comment-select-beverage{
  width: 8rem;
}
.comment-input{
  width: 35rem;
  height: 6rem;
  margin: 0.3rem 0;
  resize: none;
}
.comment-bt-publish{
  width: 4rem;
  color :#B2B1B1;
  margin-left: calc(35rem - 4rem);
}
.comment-list-wrapper{
  margin-bottom: 5rem;
  width: auto;
}
.comment-list{
  width: 45rem;
  min-height: 7rem;
  background-color: #FFFBF3;
  right: 0;
  left: 0;
  margin: auto;
  display: flex;
  font-size: 1rem;
  margin-bottom: 10px;
  border-radius: 5px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
}
.comment-avatar-box{
  width: 6rem;
  padding: 1rem 1rem 1rem 1rem;
  box-sizing: border-box;
}
.comment-avatar{
  position: relative;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  background-color: #fff;
}
.comment-info{
  width: calc(100% - 8rem);
}
.comment-user-info{
  margin-top: 1rem;
}
.comment-user-name{
  font-size: 1rem;
  font-weight: 600;
  margin-right: 0.5rem;
}
.comment-user-email{
  font-size: 1rem;
  opacity: 0.6;
}
.comment-user-time{
  font-size: 0.8rem;
  opacity: 0.3;
  margin-bottom: 0.5rem;
}
.comment-beverage{
  color: #EBC47A;
}
.comment-rating{
  min-width: 132px;
  margin-left: 1rem;
}
.comment-list-txt{
  margin: 0.5rem 0 1.5rem;
}
.comment-login-box{
  position: relative;
  right: 0;
  left: 0;
  margin: auto;
  background-color: #fff;
}

/*Login*/
.login-form-wrapper a{
  color: #573D2D;
}
.login-form-wrapper a:hover{
  color: #EBC47A;
}
.ant-checkbox-checked .ant-checkbox-inner{
  background-color: #EBC47A;
  border-color: #EBC47A;
}
.login-quote-wrapper{
  position: absolute;
  width: 40vw;
  height: 100vh;
  background-color: #F7DDCE;
}
.login-quote-1{
  width: 20vw;
  font-size: 1.2rem;
  text-align: left;
  margin: 3rem 15vw 0.5rem 5vw;
}
.login-quote-2{
  width: 20vw;
  font-size: 1.8rem;
  text-align: left;
  margin: 0 15vw 0 5vw;
}
.img_login_illus{
  position: absolute;
  height: 45vh;
  bottom: 5rem;
  right: 8vw;
}
.login-form{
  color: #573D2D;
}
.login-form-wrapper{
  position: absolute;
  right: 0;
  width: 60vw;
  height: 100vh;
  background-color: #fff;
}
.login-title{
  font-size: 3rem;
  color: #573D2D;
  width: 30vw;
  height: 5rem;
  margin: 8vw 15vw 1rem;
  text-align: center;
}
.login-email{
  width: 30vw;
  margin: 1rem 15vw 1rem;
}
.login-password{
  width: 30vw;
  margin: 1rem 15vw 1rem;
}
.login-option{
  width: 30vw;
  margin: 1rem 15vw 1rem;
  text-align: center;
}
.remember{
  margin-right: 2rem;
  color: #573D2D;
}
.login-enter{
  width: 30vw;
  margin: 1rem 15vw 1rem;
  text-align: center;
  color: #573D2D;
}
.login-form__button{
  margin-top: 3rem;
}
.login-or{
  color: #573D2D;
  margin-top: 2rem;
  margin-bottom: 0.5rem;
}

/*Register*/
.register-quote-wrapper{
  position: absolute;
  width: 40vw;
  height: 100vh;
  background-color: #FFE0B1;
}
.register-form .ant-form-item{
  color: #573D2D;
}
.ant-form-item-label > label{
  color: #573D2D;
}
.register-title{
  margin-top: 5vw;
}
.register-form-wrapper .ant-input{
  width: 25vw;
} 
.register-form-wrapper .ant-input-password{
  width: 25vw;
} 
.agreement{
  width: 11rem;
  position: relative;
  right: 0;
  left: 0;
  margin: auto;
}
.agreement span{
  color: #573D2D;
}
.register-enter{
  width: 30vw;
  margin: 3rem 15vw 1rem;
  text-align: center;
}
.register-space{
  margin-bottom: 1rem;
}

/*Profile*/
.profile-nav-wrapper{
  position: absolute;
  width: 30vw;
  height: 100vh;
  background-color: #FAFAFA;
}
.profile-img-box{
  position: relative;
  width: 10vw;
  height: 10vw;
  border-radius: 50%;
  background-color: #fff;
  margin: 3rem 10vw 1rem;
  overflow: hidden;
}
.profile-img{
  position: absolute;
  width: 10vw;
}
.profile-name{
  font-size: 1.2rem;
  text-align: center;
  width: 25vw;
  margin: 1rem 2.5vw 1rem;
}
.profile-nav{
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 25vw;
  margin: 3rem 2.5vw 1rem;
}
.profile-nav-item{
  font-size: 1.2rem;
  color: #573D2D;
  margin-bottom: 1rem;
}
.profile-form-wrapper{
  position: absolute;
  right: 0;
  width: 70vw;
  height: 100vh;
  background-color: #fff;
}
.profile-title{
  font-size: 1.2rem;
  color: #573D2D;
  width: calc(1.2rem * 4);
  height: 5rem;
  margin: 1rem;
  text-align: center;
}
.profile-form{
  width: 30vw;
  right: 0;
  left: 0;
  margin: auto;
}
.profile-btn-wrapper{
  width: 12rem;
  margin: 3rem auto;
}
.profile-form__button{
  margin: 1rem;
}

/* Favorite */
.fav-nav-wrapper{
  position: absolute;
  width: 30vw;
  height: 100vh;
  background-color: #FAFAFA;
}
.fav-wrapper{
  position: absolute;
  right: 0;
  width: 70vw;
  height: calc(100vh - 5rem);
  background-color: #fff;
  overflow-y: scroll;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 2rem 0;
  box-sizing: border-box;
}
.fav-box{
  position: relative;
  width: 15rem;
  min-height: 20rem;
  border: 1px solid rgba(87, 61, 45, 0.3);
  border-radius: 10px;
  margin: 1rem 1rem;
  padding: 2.5rem;
  box-sizing: border-box;
}
.fav-img-box{
  position: relative;
  width: 10rem;
  height: 15rem;
  right: 0;
  left: 0;
  margin: auto;
}
.fav-img{
  position: absolute;
  width: 10rem;
  height: 15rem;
  object-fit: cover;
  object-position: center center;
}
.fav-text{
  position: relative;
  font-size: 1.2rem;
  text-align: center;
  margin-top: 1rem;
}
.fav-text-brand{
  position: relative;
  font-size: 1rem;
  text-align: center;
  margin-top: 0.5rem;
  opacity: 0.5;
}

/* --- RWD Setting --- */
/* iPad Pro */
@media (max-width: 1024px) { 
  .header{
    padding: 0 4rem;
    height: 5rem;
  }
  header .active{
    padding: 0 4rem;
    height: 5rem;
    line-height: 5rem;
  }
  /* HOME */
  .swiper{
    width: 100vw;
    height: 55vh;
  }
  .swiper-box{
    width: 100vw;
    height: 55vh;
  }
  .swiper-img{
    height: 55vh;
    object-fit: cover;
  } 
  .home-title{
    margin-top: 5rem;
    font-size: 3rem;
  }
  .home-card-wrapper{
    margin-bottom: 0;
  }
  /* intro */
  .intro-text-0{
    position: absolute;
    font-size: 1.5rem;
    left: 55vw;
    top: 25vh;
  }
  .intro-text-1{
    font-size: 3.5rem;
    text-align: center;
  }
  .intro-text-2{
    font-size: 3.5rem;
    width: calc(3.5rem * 6);
    text-align: center;
  }
  .intro-text-3{
    font-size: 3.5rem;
    text-align: center;
  }
  .intro-0-img{
    position: absolute;
    width: 10rem;
    right: 25vw;
    top: 45vh;
  }
  .intro .ant-btn{
    font-size: 2rem;
    height: 4rem;
  }
  .intro-bt-box-1{
    width: 6rem;
    margin-left: calc(50% - 3rem);
  }
  .intro-bt-box-2{
    width: 10rem;
    margin-left: calc(50% - 5rem);
  }
  .intro-bt-box-3{
    width: 10rem;
    margin-left: calc(50% - 5rem);
  }
}
/* mobile */
@media (max-width: 480px) { 
  .container{
    font-size: 12px;
    min-width: 320px;
  }
  .header {
    padding: 0 2rem;
  }
  header .active{
    height: 5rem;
    padding: 0 2rem;
  }
  .drawer-btn{
    display: block;
    margin-right: 2rem;
  }
  .header-box-left {
    right: 0;
    left: 0;
    margin: auto;
  }
  .header-box-center{
    display: none;
  }
  .header-search{
    display: none;
  }
  .layout-footer{
    height: 400px;
    padding: 30px 0;
  }
  .footer-content{
    display: flex;
    flex-direction: column;
  }
  .footer-item{
    right: 0;
    left: 0;
    margin: auto;
    margin-top: 20px;
    order: 1;
  }
  .footer-item-center{
    margin-top: 40px;
    order: 2;
  }
  /* HOME */
  .swiper{
    width: 100vw;
    height: 40vh;
    margin-top: 5rem;
  }
  .swiper-box{
    width: 100vw;
    height: 40vh;
  }
  .swiper-img{
    height: 40vh;
    object-fit: cover;
  } 
  .home-title{
    font-size: 2.25rem;
    margin-top: 5rem;
  }
  .home-card-wrapper{
    margin-bottom: 8rem;
  }
  .home-card{
    width: 90vw;
    padding: 2rem 1.2rem;
  }
  .home-card-img-box{
    width: 35vw;
  }
  .home-card-img{
    width: 30vw;
  }
  .home-card-text{
    width: 55vw;
    padding: 0 0 0 1.5rem;
  }
  .home-card-title{
    font-size: 1rem;
  }
  .home-card-product{
    margin-bottom: 1rem;
  }
  .home-card-description{
    font-size: 0.8rem;
  }

  /* intro */
  .intro-text-0{
    position: absolute;
    font-size: 1rem;
    left: 40vw;
    top: 25vh;
  }
  .intro-text-1{
    font-size: 2.5rem;
  }
  .intro-text-2{
    font-size: 2.5rem;
    width: calc(2.6rem * 6);
    right: 0;
    left: 0;
    margin: auto;
    text-align: center;
  }
  .intro-text-3{
    font-size: 2.5rem;
    width: calc(2.6rem * 6);
    text-align: center;
    right: 0;
    left: 0;
    margin: auto;
  }
  .intro-0-img{
    position: absolute;
    width: 8rem;
    right: 15vw;
    top: 40vh;
  } 
  .intro .ant-btn{
    font-size: 1rem;
    height: 2rem;
  }
  /* MENU */
  .menu{
    width: 90vw;
  }
  .menu-init-text{
    width: 90vw;
  }
  /* COMPARE */
  .compare-area{
    width: 90vw;
  }
  .compare-description{
    font-size: 1rem;
  }
  .compare-items-box{
    width: 28vw;
    font-size: 0.8rem;
    margin: 0 calc(6vw / 6);
  }
  .compare-items{
    width: auto;
    height: auto;
    margin: 0.5rem 2vw;
  }
  .compare-fav-btn{
    font-size: 0.5rem;
  }
  .compare-img{
    width: 18vw;
    height: 25vw;
    margin: 0.5rem 5vw;
  }
  .compare-delete{
    margin-left: calc(28vw - 2rem);
  }
  /* COMMENT */
  .comment-add{
    width: 90vw;
    min-height: calc(13rem + 32px);
  }
  .comment-area-right{
    width: 20%;
    padding: 0.5rem;
  }
  .comment-select{
    font-size: 0.8rem;
  }
  .comment-select-company{
    width: 30vw;
  }
  .comment-select-beverage{
    width: 23vw;
  }
  .comment-img-user{
    width: 13vw;
    height: 13vw;
  }
  .comment-area-left{
    width: 80%;
    padding: 0 0 0 0.3rem;
  }
  .comment-input{
    width: 63vw;
  }
  .comment-bt-publish{
    margin-left: calc(63vw - 4rem);
  }
  .comment-list{
    width: 90vw;
  }
  /* LOGIN */
  .login-quote-wrapper{
    display: none;
  }
  .login-form-wrapper{
    width: 100vw;
    background-color: transparent;
  }
  .login-title{
    width: 100vw;
    margin: 3rem 0 1rem;
  }
  .login-email{
    width: 80vw;
    margin: 3rem 10vw 1rem;
  }
  .login-password{
    width: 80vw;
    margin: 1rem 10vw 1rem;
  }
  .login-option{
    width: 80vw;
    margin: 3rem 10vw 1rem;
  }
  .login-enter{
    width: 80vw;
    margin: 1rem 10vw 1rem;
  }
  /*Register*/
  .register-quote-wrapper{
    display: none;
  }
  .register-form-wrapper{
    padding: 0 10vw 0;
  }
  .register-title{
    width: 80vw;
    margin: 3rem 0 1rem;
  }
  .register-form-wrapper .ant-input{
    width: 80vw;
  } 
  .register-form-wrapper .ant-input-password{
    width: 80vw;
  } 
  .register-enter{
    width: 80vw;
    margin: 3rem 0 1rem;
  }
  /*Profile*/
  .profile-img-box{
    position: relative;
    width: 20vw;
    height: 20vw;
    border-radius: 50%;
    background-color: #fff;
    margin: 3rem 5vw 1rem;
    overflow: hidden;
  }
  .profile-img{
    position: absolute;
    width: 20vw;
  }
  .profile-form{
    width: 50vw;
  }
  /* Favorite */
  .fav-box{
    width: 30vw;
    min-height: 15rem;
    margin: 1rem 1vw;
    padding: 1rem;
  }
  .fav-img-box{
    width: 20vw;
    height: 25vw;
  }
  .fav-img{
    width: 20vw;
    height: 25vw;
  }
} 
