@import '~antd/dist/antd.css';
@import url('https://fonts.googleapis.com/css2?family=Shippori+Mincho:wght@400;500;600;700&display=swap');
/* font-family: 'Shippori Mincho', serif;*/


/* RWD Container */
.container {
  width: 100%;
  display: flex;
  align-self: center;
  background-color: #F9F6F2;
  color: #573D2D;
  font-family: 'Shippori Mincho', serif;
}

/* sm */
@media (min-width: 576px) { 
  .container {
    width: 540px;
  }
} 

/* md */
@media (min-width: 768px) {
  .container {
    width: 720px;
  }
} 

/* lg */
@media (min-width: 992px) {
  .container {
    width: 960px;
  }
} 

/* xl */
@media (min-width: 1200px) {
  .container {
    width: 1140px;
  }
} 

/* xxl */
@media (min-width: 1600px) {
  .container {
    width: 1500px;
  }
} 

/* general */
html{
  width: 100vw;
  height: 100%;
}
body {
  font-size: 16px;
  line-height: 1.6;
  background-color: #F9F6F2;
  color: #573D2D;
  width: 100vw;
  padding: 0;
  margin: 0;
  font-size: 0;
}

.ant-pagination-item-active a{
  color: #573D2D;
}
.ant-pagination-item-active{
  border: 1px solid #573D2D;
}
.container-fluid {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 15px;
}

.layout-header,
.layout-footer {
  position: relative;
  padding: 0;
  width: 100%;
  height: 8rem;
  /* background-color: #EBE0D3; */
  background-color: #573d2d;
  color: #F9F6F2;
  /* box-shadow: 12px 12px 7px rgba(0, 0, 0, 0.3); */
}
.layout-header{
  height: 5rem;
}

.layout-content {
  background-color: #F9F6F2;
}

.main-layout {
  display: flex;
  flex-direction: row;
  width: 100vw;
  min-height: 100vh;
}

/* Header */
.header {
  position: relative;
  display: flex;
  flex-direction: row;
  line-height: 5rem;
  text-align: center;
  padding: 0 8rem;
}
.header-wrap-left {
  position: relative;
  display: flex;
  flex-direction: row;
}
.header-logo{
  width:6rem;
}
.header-wrap-center {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 60%;
  margin-right: auto;
}
.header-navbar-center{
  width:auto;
  height:1.75rem;
  /* color: #573D2D; */
  color: #F9F6F2;
  font-size: 1.2rem;
  margin-left: 3.8rem;
}
.header-wrap-right {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.header-item{
  display: flex;
  align-items: center;
  margin: 0 0.5rem;
}
.header-search{
  width: 10rem;
}
.header-icon{
  width:2rem;
}

/* Footer */
.footer {
  position: relative;
  width: 100%;
  text-align: center;
  background-color: #F9F6F2;
}
.footer-content{
  position: absolute;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
  padding: 0 15rem;
}
.footer-item{
  width: 10vw;
  height: 2rem;
  display: flex;
  flex-direction: row;
  margin-top: 3rem;
  padding: 0 0.5rem;
}
.footer-item-center{
  width: 20vw;
  display: block;
  margin-top: 2rem;
}
.footer-icon{
  width:1.5rem;
  height: 1.5rem;
  margin-right: 0.5rem;
}
.footer-icon-center{
  width: 2rem;
  height: 2rem;
  margin: 0 0.5rem;
}
.footer-text{
  height:1.75rem;
  font-size:1rem;
}
.footer-text-center{
  margin-top: 0.5rem;
}

/*Home*/
.swiper{
  width: 65vw;
  display: flex;
  right: 0;
  left: 0;
  margin: auto;
  margin-top: 1rem;
}
.swiper-img{
  width: 65vw;
} 
.home-compare-bt-box{
  position: relative;
  width: 90px;
  left: 0;
  right: 0;
  margin: auto;
}
.home-compare-bt{
  color: #301A0A;
  margin: 1rem 0 5rem;
  border-radius: 5px;
}
.home-title{
  width: 100vw;
  text-align: center;
  font-size: 2.25rem;
  font-weight: 500;
}
.home-card{
  display:flex;
  flex-direction: row;
  width:50rem;
  height:20rem;
  border:solid 1px #301A0A;
  border-radius: 10px;
  right: 0;
  left: 0;
  margin: auto;
  margin-bottom: 2rem;
  padding: 2rem 5rem;
  background-color: #fff;
  box-shadow: 12px 12px 7px rgba(0, 0, 0, 0.3);
}
.home-card-img-box{
  width: 15rem;
  height: 16rem;
}
.home-card-img{
  width: 12rem;
  max-height: 16rem;
}
.home-card-text{
  display:flex;
  flex-direction: column;
  width: 25rem;
  height: 16rem;
}
.home-card-title{
  font-size:1.5rem;
}
.home-card-description{
  font-size:1rem;
}

/*Menu*/
.menu{
  width:42.5rem ;
  height:43.0625rem;
  border: solid gray 1px;
  padding:0;
  right: 0;
  left: 0;
  margin: auto;
}
.ant-table-container{
  color: #301A0A;
}
.menu-select-box{
  position: relative;
  width: 150px;
  left: 0;
  right: 0;
  margin: auto;
}
.menu-select{
  position: relative;
  margin: 2rem 0;
}
.menu-content{
  display: flex;
  flex-direction: row;
  width: auto;
  height: 1.75rem;
}
.ant-btn-primary{
  color: #301A0A;
  background: none;
  border-color: #301A0A;
}
.menu-compare-bt-box{
  position: relative;
  width: 90px;
  left: 0;
  right: 0;
  margin: auto;
}
.menu-compare-bt{
  color: #301A0A;
  margin: 2rem 0 5rem;
  border-radius: 5px;
}
.ant-table-header .ant-table-cell{
  color: #301A0A;
  background-color: #F4EFE8;
}
.ant-table-cell{
  color: #301A0A;
  background-color: #fff;
}
.ant-table-tbody > tr > td, .ant-table-thead > tr > th{
  padding: 1rem 2rem;
}
.ant-pagination{
  /* width: 40rem; */
  padding: 0.5rem 2rem;
}

/*Comparison*/
.compare{
  display: flex;
  flex-direction: column;
  text-align: center;
}
.compare-title{
  width: 100vw;
  font-size: 2rem;
  margin: 2rem 0 0;
  font-weight: 500;
}
.compare-description{
  width: 100vw;
  font-size:1.2rem;
  margin: 1rem 0;
}
.compare-reset{
  width:6rem;
  height:2rem;
  right: 0;
  left: 0;
  margin: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.compare-area{
  position: relative;
  display: flex;
  flex-direction:row;
  width: 80vw;
  margin: 2rem auto 5rem;
}
.compare-items-box{
  background-color: white;
  width:25vw;
  height:40rem;
  margin-left: calc( 5vw / 3);
  font-size: 1rem;
}
.compare-delete{
  width: 2rem;
  padding: 0 0.5rem;
  margin-left: calc(25vw - 2rem);
  box-sizing: border-box;
}
.compare-items{
  width:auto;
  margin: 0.5rem 3vw;
}
.addcompare-bt{
  border-color: white;
}

/*Comment*/
.comment-list{
  margin-top: 100px;
  margin-left: 100px;
  width:720px;
  height:186px;
  border: 1px solid black;
}
.comment-list-txt{
  color: black;
  height:20px;
  width: 100%;
  font-size:18px;
  
}
.comment-add{
  width:45rem;
  height:11.6rem;
  border:solid 1px black;
  display: flex;
  right: 0;
  left: 0;
  margin: auto;
}
.comment-add-img{
  width:6.25rem;
  height:6.25rem;
  
}
.comment-add-icon{
  width:1.75rem;
  height:1.6rem;
  margin-top: 0.5%;
  margin-left: 2%;
}
.comment-input{
  width:31rem;
  height:4.3rem;
  
  
}
.comment-publish{
  width:6.25rem;
  height:40px;
  color:#B2B1B1;
  font-size:1.5rem;

}
/*Login*/
.login{
  width:40%;
  height:90%;
  display: flex;
  flex-direction:column;
  right: 0;
  left: 0;
  margin:auto;
  margin-top: 1%;
  margin-bottom: 1%;
  border:1px solid black;
}
.login-title{
  font-size:1.5rem;
  color:black;
  display: flex;
  right: 0;
  left: 0;
  margin:auto;
  margin-top:10%;
}
.login-input{
  
}
.login-click{
  font-size:1rem;
  color:black;
  display: flex;
  right: 0;
  left: 0;
  margin:auto;
  margin-top:10%;
}
